@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --black: #2d2e2e; 
  --dark-green:#3a4f39;
  --dark-green-light:#395539; 
  --grey:#ababab; 
  --light-grey:#f6f6f6; 
  --white:#ffffff; 
  --umbra:#A0CD9E; 
  
}
.meniu-flex{
background-size: cover;
display: flex;
justify-content: center;
}
.cutie-img{
  display: flex;
  flex-direction: row;
  width: 610px;
  height: 343px;
}

.container-elemente{
  display: flex; 
  flex-direction: column; 
  text-align: center; 
  align-items: center; 
  font-size: 60px;
  line-height: 60.51px;
  gap: 10px;
  flex-wrap: wrap;
}

.h1-text{
  font-family: "Inter", sans-serif; 
  font-weight: 600; 
}
.buton{
  display: flex;
  flex-direction: row; 
  gap: 10px; 
  justify-content: center; 
  flex-wrap: wrap; 
}
.btn{
  width: 130px;
  height: 56px;
  color: var(--white);
  background-color: var(--dark-green);
  gap: 10px;
  border-radius: 4px;
  padding: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}
.btn:hover{
  background-color: var(--dark-green-light);
}
@media(max-width:800px){
  .h1-text{
    flex-wrap:wrap;
    flex-direction: column;
  }
  .btn{
  width: 395px;
  height: 56px;
  color: var(--white);
  background-color: var(--dark-green);
  gap: 10px;
  border-radius: 4px;
  padding: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  }
}
